
/*************************************************************************************************************************************************************************************************************************************************************

"userChrome.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's interface (NOT internal site) using "chrome" privileges.
For instance, if you want to hide the tab bar, you can use the following CSS rule:

**************************************
#TabsToolbar {                       *
    display: none !important;        *
}                                    *
**************************************

NOTE: You can use the userChrome.css file without change preferences (about:config)

Quote: https://userChrome.org | https://github.com/topics/userchrome 

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
/* Please write your custom CSS under this line*/
#fxa-avatar-image {     /*makes your avatar picture larger*/ 
    width: 25px !important;
    height: 25px !important;
}
:root:not([privatebrowsingmode="temporary"], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode="temporary"]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
  border-inline-start: 0px solid color-mix(in srgb, currentColor 25%, transparent) !important; /*removes seperator line between toolbar item and tabs*/
}

#urlbar-background,#urlbar { /*makes url bar rounded*/

  border-radius: 10px !important;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
  margin: 0px 0px 0px 0px;
}
/* Add border effect to URL bar */
#urlbar {
  border: 2px solid transparent !important;
  transition: border-color 0.3s ease;
}

/* Change border color on hover */
#urlbar:hover {
  border-color: rgba(204, 204, 204, 0.8) !important; /* Adjust color as needed */
}
.tab-icon-overlay { /*removes audio playing in tab icon*/
  stroke: unset !important;
  fill: unset !important;
  background: unset !important;
  fill-opacity: 0 !important;
}
:root {
  --tab-border-radius: 11px !important;
}
.tab-background {    /*seperate the tabs by a small margin since they were close to eachother*/
  margin-left: 2px !important; 
  margin-right: 2px !important;
}
/* Add tab hovering border lighting effect */
.tabbrowser-tab {
  border: 2px solid transparent !important;
  border-color: rgba(25, 25, 27, 0.8) !important;
  transition: border 0.3s ease, border-color 0.3s ease;
  border-radius: 15px !important;
  margin: 5px 5px 5px 5px !important;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  min-height: 10px;
  max-height: 50px;
}
.tabbrowser-tab:hover {
  border-color: rgba(204, 204, 204, 0.8) !important;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
}
#tabbrowser-tab #tab-label {
  line-height: 10px;
  padding: 1 1px;
}
}
/* Browser Border */

@media (prefers-color-scheme: dark) {
#appcontent browser {
    border-radius: 15px !important;
    margin: 10px 10px 10px 10px !important;
    border: 3px solid rgba(0, 0, 0, 0);
    transition: border 0.3s ease;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}

#appcontent browser:hover {
    border: 3px solid rgba(204, 204, 204, 0.6);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}
}

@media (prefers-color-scheme: light)  {
  #appcontent browser {
    border-radius: 15px !important;
    margin: 10px 10px 10px 10px !important;
    border: 3px solid rgba(51, 51, 51, 0.1);
    transition: border 0.3s ease;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
}

#appcontent browser:hover {
    border: 3px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.5);
}

}
